
@media (min-width: 576px) { 
    .Content{
        margin-left: 60px;
        margin-top: 60px;
        z-index: 5;
    }
    
.sideNavClose{
    height: 100%;
    width: 60px;
   
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-left: 10px;
    padding-top: 20px;
    transition: 0.1s;
 
    background-color: #FE0A52;

}
 }


@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 

 }


@media (min-width: 1200px) { 
    
 }